{% extends "acs/base.html" %}

{% load security %}
{% js_perms %}
  add_config_button, delete_config_button = acs_admin
{% endjs_perms %}

{% load static from staticfiles %}
{% load misc %}
{% block custom_styles %}
  {{ block.super }}
  <link rel="stylesheet" href={% static 'css/leaflet.css' %} />
  <link rel="stylesheet" href={% static 'css/markercluster.css' %} />
  <link rel="stylesheet" type="text/css" href="{% static 'css/acs.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />

{% endblock custom_styles %}

{% block custom_scripts %}
  {{ block.super }}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/validation.js' %}"></script>
    <script src="{% static 'js/jquery.checkboxed-list.js' %}"></script>
    <script src="{% static 'js/jquery.jeditable.js' %}"></script>
    <script src="{% static 'js/jquery.checkbox.js' %}"></script>
    <script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
    <script  src="{% static 'js/fuse.min.js' %}"></script>
    <script Defer src="{% static 'js/leaflet.js' %}"></script>
    <script Defer src="{% static 'js/leaflet.markercluster.js' %}"></script>
    <script Defer src="{% static 'js/mapleaflet.js' %}"></script>



{% endblock custom_scripts %}

{% block title %}<title>ACS Maps</title>{% endblock %}

{% block Content %}
<div id="map" class="onmaptab" ></div>
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#search" role="tab" class="menutab"><span class="fa fa-search"></span></a></li>
                <li><a href="#settings" role="tab" class="menutab"><span class="fa fa-cogs"></span></a></li>
                <li class="disabled"><a href="#filter" role="tab" class="menutab"><span class="fa fa-filter"></span></a></li>
            </ul>

            <ul role="tablist">
                <li><a href="#help" role="tab" class="menutab"><span class="fa fa-question-circle"></span></a></li>
            </ul>
        </div>

        <div class="sidebar-content">
            <div class="sidebar-pane" id="search">
                <h1 class="sidebar-header">
                    Find
                    <span class="sidebar-close"><span class="fa fa-arrow-circle-right"></span></span>
                </h1>
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Settings<span class="sidebar-close"><span class="fa fa-arrow-circle-right"></span></span></h1>

<form id="system_config_dialog_form" data-url="{% url 'acsconfig_api' %}"   > {% csrf_token %}
  <div class="form-error ui-state-error" id="system_config_warn" style="display: none"></div>
  <table id="formlayout" class="form-layout"  data-url="" >
      <tr  >
        <th><label for="hardware_id">Hardware ID:</label></th>
        <td class="input-only">
          <input type="text" id="hardware_id" name="hardware_id" />
          <span class="input-hint" style="display: none"></span>
          <span class="input-error" style="display: none"></span>
        </td>
      </tr>
      <tr>
        <th><label for="name">Name:</label></th>
        <td class="input-only">
          <input type="text" id="name" name="name" />
          <span class="input-hint" style="display: none"></span>
          <span class="input-error" style="display: none"></span>
        </td>
      </tr>
      <tr>
        <th><label for="location">Location:</label></th>
        <td class="input-only">
          <input type="text" id="location" name="location" />
          <span class="input-hint" style="display: none"></span>
          <span class="input-error" style="display: none"></span>
        </td>
      </tr>
      <tr>
        <th><label for="ip4_cidr">IPv4 Address/Prefix:</label></th>
        <td class="input-only">
          <input type="text" id="ip4_cidr" name="ip4_cidr" />
          <span class="input-hint" style="display: none"></span>
          <span class="input-error" style="display: none"></span>
        </td>
      </tr>

    {% for name, item in system_params.iteritems %}
      <tr  data-url="{% url 'acsconfig_api'  %}">
        <th><label for="{{ name }}">{{ item.fullname }}:</label></th>
        <td>
            <input type="text" id="{{ name }}" name="{{ name }}"  /><br>
            <span class="defval"  id="d_{{ name }}">(default value: {{ item.val }})</span>
            <span class="input-hint" style="display: none"></span>
          <span class="input-error" style="display: none"></span>
        </td>
      </tr>

    {% endfor %}


    <tr>
        <th><label for="geolocation">Geolocation:</label></th>
        <td class="input-only">
          <input type="text" id="geolocation" name="geolocation" />
          <span class="input-hint" style="display: none"></span>
          <span class="input-error" style="display: none"></span>
        </td>
      </tr>



  </table>
    <br>
    <button id="add_btn" class="add_one"  type="button">Add</button>
    <button id="edit_btn" class="edit_one"  type="button">Save</button>
    <button id="cancel_btn" type="button">Cancel</button>
    <button id="delete_btn" type="button">Delete</button>
 </form>

           </div>

            <div class="sidebar-pane" id="filter">
                <h1 class="sidebar-header">Messages<span class="sidebar-close"><span class="fa fa-arrow-circle-right"></span></span></h1>
            </div>

            <div class="sidebar-pane" id="help">
                <h1 class="sidebar-header">Help<span class="sidebar-close"><span class="fa fa-arrow-circle-right"></span></span></h1>
                <div>
                    <table class="help-panel">
                        <tr>
                            <td><span class="fa fa-search"></span></td>
                            <td>- use to fuse search</td>
                        </tr>
                        <tr>
                            <td><span class="fa fa-cogs"></span></td>
                            <td>- use for  add, edit, view, <br>
                                - use <b>doble click</b> to set geolocation coordinates <br>
                                - use <b>Cancel </b> button to undo changing settings
                            </td>
                        </tr>
                        <tr>
                            <td><span class="fa fa-filter"></span></td>
                            <td>- use to view elements with certain parameters</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
